*{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    background: #C8FFD4 ;

}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -14px 22px 1px;
    background-color: #B1AFFF;

}

header input{
    height: 50%;
    box-sizing: border-box;
    width: 35vw;
    margin-right: 5px;
    text-align: center;
    font-size: large;
    border: 1px;
    box-shadow: 0px 0px 46px -9px;
    border-radius: 14px;
    background-color: white;

}

header button{

    height: 50%;
    width: 10vw;
    border: 1px;
    box-shadow: 0px 0px 46px -9px;
    border-radius: 14px;
    background-color: white;
}

#wikiimage{
    height: 300px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px;
    box-shadow: 0px 0px 46px -9px;
    border-radius: 14px;


}

.mainbox{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#wikipara{
    width: 70vw;
}



